@keyframes daire {
    0% {background-color: red;left: 0;top: 0;}
    25% {background-color: blue;left: 500px;top:0;border-radius:100%; }
    50% {background-color: black;left:500px;top:400px;border-radius: 0;}
    75% {background-color: yellow;left: 0;top:400px;}
    100% {background-color: magenta;left: 0;top0}


  }




#div1{
width: 800px;
height: 500px;
background-color: aqua;
position: relative;
}


.div2{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: green;
    animation-name: daire;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    left: 0;
    top: 0; 

}

